# Django Web Framework
Django==5.1.7

# Database adapters & URL configuration
psycopg2-binary==2.9.11
dj-database-url==2.3.0

# Image Processing
Pillow==10.4.0

# Static Files Serving
whitenoise==6.12.0

# WSGI Production Server
gunicorn==25.1.0

# Environment variables management
python-dotenv==1.2.1